body{
    margin: auto;
    width: fit-content;

}
#BMI-Calculator{
    display: flex;
    flex-direction: column;
}
input{
    width: 40%;
    height: 30px;
    font-size: 18px;
}
button{
    width: fit-content;
    height: 25px;
}
@media all and (max-width:638px) and (min-width:59px){
    input{
        width: fit-content;
    }
}